body {
    background-color: black;
}

#canvas {
    width: 900px;
    height: 600px;
    background-color: brown;
    position: relative;
}

.apple {
    position: absolute;
    width: 40px;
    height: 40px;  
}

.pear {
    position: absolute;
    width: 40px;
    height: 40px;
}

.peach {
    position: absolute;
    width: 40px;
    height: 40px;
}