body {
    background-color: black;
}

#canvas {
    width: 900px;
    height: 600px;
    background-color: brown;
    position: relative;
}

.apple {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: blue;

}

.pear {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgb(42, 67, 6);
}

.peach {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(241, 158, 50);
}