body {
    background-color: black;
    cursor: url('../assets/images/bat_working_img.png'),auto;  
}

#startScreen {
    margin: auto;
    display: block;
    height: 600px;
    width: 900px;
    background-image: url('../assets/images/background.jpg');
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}


#canvas {
    margin: auto;
    display: none;
    position: relative;
    height: 600px;
    width: 900px;
    background-image: url('../assets/images/background-2.png');
    background-size: contain;
    overflow: hidden;
}

#score {
    position: absolute;
    bottom: 10px;
    font-family: 'Wendy One', sans-serif;
    font-size: 25px;
    padding-left: 20px;
    color: hsl(40, 18%, 30%);
}

#timer {
    position: absolute;
    padding-right: 10px;
    bottom: 10px;
    right: 10px;
    font-family: 'Wendy One', sans-serif;
    font-size: 25px;
    color: hsl(40, 18%, 30%);
    
}

#finishScreen {
    margin: auto;
    display: none;
    height: 600px;
    width: 900px;
    background-image: url('../assets/images/end_game_screen.png');
    background-size: contain;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Wendy One', sans-serif;
    font-size: 30px;
    color: hsl(40, 18%, 30%);
}


.pinata1 {
    position: absolute;
    width: 150px;
    height: 119px;
}

.pinata2 {
    position: absolute;
    width: 150px;
    height: 119px;
}

.pinata3 {
    position: absolute;
    width: 150px;
    height: 119px;

}


#start-game-btn,
#playAgainBtn {
    box-shadow: inset 0px 0px 14px -3px #f2fadc;
    background: linear-gradient(to bottom, #e6ddca 5%, #918265 100%);
    background-color: #e6ddca;
    border-radius: 6px;
    border: 1px solid #cfcfcf;
    display: block;
    cursor: pointer;
    color: hsl(40, 18%, 30%);
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #aba290;
    font-family: 'Wendy One', sans-serif;
}

#start-game-btn:hover,
#playAgainBtn:hover {
    background: linear-gradient(to bottom, #918265 5%, #e6ddca 100%);
    background-color: #918265;
}

#start-game-btn:active,
#playAgainBtn:active {
    position: relative;
    top: 1px;
}

.logo {
    margin-top: 30px;
    transform:scale(0.85);
}

#playAgainBtn {
    margin-top: 30px;
}